App.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://schemas.microsoft.com/winfx/2006/xaml/presentation">
    <xs:element name="Application">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Application.Resources">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ResourceDictionary">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ResourceDictionary.MergedDictionaries">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="ResourceDictionary">
                                                        <xs:complexType>
                                                            <xs:attribute
                                                                    name="Source"
                                                                    use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>